input{
  height: 40px;
  border-radius: 9px;
}
.defaultLabel {
  color: maroon;
  border-bottom: 0.5px solid #eee;
  padding: 10px 10px;
}

.nav-link.active{
  background-color: #5e0000;
  border-radius: 11px;
}

.extraInfoMainTitle{
  font-weight:300;
}
.extraInfoSubTitle{
  font-weight:200;
}
.extraInfoNavDiv{
  margin:20px 0px;
}
.extraInfoNavTitle{
  color: maroon;
  font-weight:300;
}
.extraInfoButtonDiv{
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  margin-right: 10px;
}
.extraInfoButton{
  text-align: left;
}


.navbar {
  -webkit-box-shadow: 0px 2px 7px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 7px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 7px -1px rgba(0, 0, 0, 0.75);
}
.defaultSubLabel {
  font-weight: 900;
  /* margin2px; */
}
.flexNewPassword {
  display: flex;
}

label {
  font-weight: 400 !important;
}
.formFields {
  margin: 25px 10px;
  height: fit-content;
}

.formFieldsTitle {
  margin: 15px 0px;
}
.pointer {
  cursor: pointer;
}
.fa {
  position: inherit;
}

.modal-header {
  display: flex;
}

.modal-header > h5 {
  flex: 1;
}

.dropdown-toggle {
  color: white !important;
}

.lightBtn {
  background-color: white;
  color: maroon;
  font-weight: 800;
  letter-spacing: 1px;
  border-radius: 15px;
  font-family: "Google Sans Display", Arial, Helvetica, sans-serif;
  padding: 10px 20px;
  transition: all 0.3s;
  box-shadow: 0px 6px 23px 0px rgba(37, 37, 37, 0.459);
}

.mainFont {
  font-family: "Google Sans Display", Arial, Helvetica, sans-serif;
}

.lightBtn:hover {
  background-color: maroon;
  color: white;
  font-weight: 800;
  letter-spacing: 1px;
  border-radius: 15px;
  font-family: "Google Sans Display", Arial, Helvetica, sans-serif;
  padding: 10px 20px;
  transition: all 0.3s;
  box-shadow: 0px 6px 23px 0px rgba(37, 37, 37, 0.459);
}

.lightBtnSimple {
  background-color: white;
  color: maroon;
  font-weight: 800;
  letter-spacing: 1px;
  border-radius: 15px;
  font-family: "Google Sans Display", Arial, Helvetica, sans-serif;
  padding: 10px 20px;
  transition: all 0.3s;
  box-shadow: 0px 6px 23px 0px rgba(37, 37, 37, 0.459);
}

.darkBtn {
  background-color: maroon;
  color: white;
  font-weight: 800;
  letter-spacing: 1px;
  border-radius: 15px;
  font-family: "Google Sans Display", Arial, Helvetica, sans-serif;
  padding: 10px 20px;
  transition: all 0.3s;
  box-shadow: 0px 6px 23px 0px rgba(37, 37, 37, 0.459);
}
.darkBtn:hover {
  background-color: white;
  color: maroon;
  font-weight: 800;
  letter-spacing: 1px;
  border-radius: 15px;
  font-family: "Google Sans Display", Arial, Helvetica, sans-serif;
  padding: 10px 20px;
  transition: all 0.3s;
  box-shadow: 0px 6px 23px 0px rgba(37, 37, 37, 0.459);
}
.darkBtnSimple {
  background-color: maroon;
  color: white;
  font-weight: 800;
  letter-spacing: 1px;
  border-radius: 15px;
  font-family: "Google Sans Display", Arial, Helvetica, sans-serif;
  padding: 10px 20px;
  transition: all 0.3s;
}

.clearBtn {
  background-color: transparent;
  text-shadow: 0px 2px 6px #707070e7;
  font-weight: 800;
  letter-spacing: 1px;
  border-radius: 15px;
  font-family: "Google Sans Display", Arial, Helvetica, sans-serif;
  padding: 10px 20px;
  transition: all 0.3s;
}

.clearOGBtn {
  background-color: transparent;
  font-weight: 800;
  letter-spacing: 1px;
  border-radius: 15px;
  font-family: "Google Sans Display", Arial, Helvetica, sans-serif;
  padding: 8px 10px 5px 10px;
  transition: all 0.3s;
}

.textAreaSmall {
  width: 100%;
  border-radius: 9px;
  resize: none;
  height: 100px;
  border: 1px solid #ccc;
}

.hideIt {
  display: none;
}

.showWebinarDetail {
  margin-left: 25px;
}

.modelBtn {
  margin: 0px 5px;
}

body {
  background-color: white;
}

.App {
  overflow-x: hidden;
}
#extraInfo{
position: fixed;
width:18%;
top:15%;
left:12%;
}

.filterSection{
  margin: 15px 65px 15px 65px;
}

/* desktop */
@media only screen and (min-width: 1226px) {
  .formComp{
    padding:0px 20px 1px 20px;
    margin:0px 20px 0px 20px;
    background-color: #f1f1f182;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
  }
  .formCompNoBg{
    padding:0px 20px 1px 20px;
    margin:0px 20px 0px 20px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
  }
  .formTitleDivReport{
    color: maroon;
    min-height: 60px;
    margin-bottom: 25px;
    padding:25px 0px 10px 0px;
    border-bottom: .5px solid #cfcece;
  }

  .messageBoardTitleDiv{
    color: maroon;
    min-height: 60px;
    margin-bottom: 25px;
    padding:25px 0px 10px 0px;
  }
  .alert {
    position: fixed;
    width: 900px;
    height: auto;
    margin: 5% auto;
    left: 0;
    right: 0;
    max-height: 500px;
    overflow: scroll;
  }
  
  #desktopView {
    margin-top: 60px;
  }
  #mobileView {
    display: none;
  }
  #mainContainer {
    /* height: 500px; */
    /* margin: 0px 250px; */
    width:75%
  }
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-link {
    color: #61dafb;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  #greetingContainer {
    padding: 0px;
    border-bottom: 15px solid maroon;
    padding-bottom: 150px;
  }

  #greetingRow {
    margin: 100px 200px 0px 200px;
  }

  #greetingRowRight {
    margin-top: -20px;
  }

  #greetingRowRightHeader {
    font-size: 3.5em;
    letter-spacing: 2px;
    line-height: 70px;
    color: maroon;
    font-family: "Google Sans Display", Arial, Helvetica, sans-serif;
    text-shadow: 0px 1px 2px #707070e7;
  }

  #greetingRowRightPContainer {
    margin-right: 90px;
  }

  #greetingRowRightP {
    font-size: 1.8em;
    letter-spacing: 1px;
    line-height: 40px;
    font-family: "Google Sans Display", Arial, Helvetica, sans-serif;
  }
  #greetingRowRightBtnContainer {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    margin-right: 150px;
  }

  .formTitleDiv {
    color: maroon;
    min-height: 60px;
    margin-bottom: 25px;
    padding:25px 0px 10px 0px;
    border-bottom: .5px solid #cfcece;
  }
  .messageBoardTitleDiv{
    color: maroon;
    min-height: 60px;
    margin-bottom: 25px;
    padding:25px 0px 10px 0px;
  }
  .formTitle {
    font-size: 1.8em;
    text-align: center;
  }

  #homeiPhone {
    background: url("../src/images/iphone.jpg") no-repeat;
    background-size: contain;
    height: 600px;
    width: 500px;
    margin-left: 50px;
  }

  .userContainer {
    background-color: white;
    padding: 10px 0px;
    width: 100%;
  }

  .hideOnDesktop {
    display: none !important;
  }
  #navTitleDesktop {
    width: 100%;
    color: maroon;
    font-weight: 900;
    font-size: 1.22em;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    position: fixed;
    background-color: white;
    padding: 50px 0px 8px 0px;
    border-bottom: 0.5px solid rgb(202, 202, 202);
    z-index: 50;
  }
  #navTitleDesktop > p {
    margin-left: 20px;
  }
  #navActionContainer {
    margin-top: 35px;
    position: fixed;
  }

  #navActionGreeting {
    font-family: "Google Sans Display", Arial, Helvetica, sans-serif;
    font-size: 2em;
  }
}

/* ipad */
@media only screen and (min-width: 768px) and (max-width: 1225px) {
  .formComp{
    padding:0px 20px 1px 20px;
    margin:0px 20px 0px 20px;
    background-color: #f1f1f182;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
  }

  .formCompNoBg{
    padding:0px 20px 1px 20px;
    margin:0px 20px 0px 20px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
  }

  .formTitleDivReport{
    color: maroon;
    min-height: 60px;
    margin-bottom: 25px;
    padding:25px 0px 10px 0px;
    border-bottom: .5px solid #cfcece;
  }

  .messageBoardTitleDiv{
    color: maroon;
    min-height: 60px;
    margin-bottom: 25px;
    padding:25px 0px 10px 0px;
  }

  #extraInfo{
    position: fixed;
    width:23%;
    top:20%;
    left:35px;
    }

  .formTitleDiv {
    color: maroon;
    min-height: 60px;
    margin-bottom: 25px;
    padding:25px 0px 10px 0px;
    border-bottom: .5px solid #cfcece;
  }

  .messageBoardTitleDiv{
    color: maroon;
    min-height: 60px;
    margin-bottom: 25px;
    padding:25px 0px 10px 0px;
  }
  .formTitle {
    font-size: 1.8em;
    text-align: center;
  }
  .alert {
    position: fixed;
    width: 600px;
    height: auto;
    margin: 5% auto;
    left: 0;
    right: 0;
    max-height: 500px;
    overflow: scroll;
  }
  #desktopView {
    margin-top: 60px;
  }
  #navTitleDesktop {
    z-index: 50;
    color: maroon;
    font-weight: 900;
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    position: fixed;
    width: inherit;
    background-color: white;
    padding: 50px 0px 8px 0px;
    border-bottom: 0.5px solid rgb(202, 202, 202);
  }
  #navTitleDesktop > p {
    margin-left: 20px;
  }
  #navActionContainer {
    margin-top: 35px;
    position: fixed;
  }

  #navActionGreeting {
    font-family: "Google Sans Display", Arial, Helvetica, sans-serif;
    font-size: 2em;
  }
  .hideOnDesktop {
    display: none !important;
  }
  #mobileView {
    display: none;
  }
  #greetingContainer {
    padding: 0px;
    border-bottom: 15px solid maroon;
    padding-bottom: 50px;
  }

  #greetingRow {
    margin: -40px 50px 0px 50px;
  }

  #greetingRowRightHeader {
    font-size: 3em;
    letter-spacing: 2px;
    line-height: 60px;
    color: maroon;
    font-family: "Google Sans Display", Arial, Helvetica, sans-serif;
  }

  #greetingRowRightPContainer {
    margin-right: 20px;
  }

  #greetingRowRightP {
    font-size: 1.2em;
    letter-spacing: 1px;
    line-height: 40px;
    font-family: "Google Sans Display", Arial, Helvetica, sans-serif;
  }

  #greetingRowRightBtnContainer {
    margin-top: 20px;
    display: flex;
  }

  #homeiPhone {
    margin-top: 80px;
    background: url("../src/images/iphone.jpg") no-repeat;
    background-size: contain;
    height: 400px;
    width: 300px;
    position: relative;
  }
}

/* mobile up right */
@media only screen and (max-width: 767px) {
  .filterSection{
    margin: 15px 0px 15px 0px;
  }
  .formTitleDiv {
    -webkit-box-shadow: 0px 2px 7px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 7px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 7px -1px rgba(0, 0, 0, 0.75);
    color: maroon;
    background-color: #f1f1f1;
    position: fixed;
    width: -webkit-fill-available;
    min-height: 60px;
    padding: 10px 0px;
    left: 0;
    right: 0;
    top: -20px;
    margin: 75px 0px;
    z-index: 1;
  }

  .messageBoardTitleDiv{
    /* -webkit-box-shadow: 0px 2px 7px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 7px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 7px -1px rgba(0, 0, 0, 0.75); */
    color: maroon;
    background-color: #f1f1f1;
    /* position: fixed; */
    width: -webkit-fill-available;
    min-height: 60px;
    padding: 10px 0px;
    /* left: 0;
    right: 0; */
    top: -20px;
    margin: 75px 0px;
    z-index: 1;
    border-bottom: .5px solid #eee;
  }
  .formTitleDivReport{
    color: maroon;
    background-color: rgba(255, 255, 255, 0.733);
    position: fixed;
    width: -webkit-fill-available;
    min-height: 60px;
    padding: 20px 0px;
    left: 0;
    right: 0;
    top: 100px;
    margin: 75px 0px;
    z-index: 0;
    text-align: center;
    border-bottom: .5px solid #ccc;
  }
  .formComp{
    margin:0px 20px 1px 20px;
  }

  .formCompNoBg{
    margin:0px 20px 1px 20px;
  }
  #extraInfo{
    display: none;
  }
  .formTitle {
    font-size: 1.3em;
    margin: 5px 15px;
    text-align: center;
  }
  .reportBtnsMobile {
    margin-top: 175px;
  }
  .formFieldsMobile {
    margin-top: 150px;
  }
  .formFieldsMobileReport {
    margin-top: 50px;
  }
  html {
    scroll-behavior: smooth;
  }
  .alert {
    position: fixed;
    width: 300px;
    height: auto;
    margin: 5% auto;
    left: 0;
    right: 0;
    z-index: 1;
    max-height: 500px;
    overflow: scroll;
  }
  .alert-heading {
    font-size: 1.3em;
  }
  #desktopView {
  }

  #greetingContainer {
    padding: 0px;
    border-bottom: 15px solid maroon;
    padding-bottom: 50px;
  }

  #greetingColRight {
    padding: 0px;
  }

  #greetingRow {
    margin: 50px 20px 0px 20px;
  }

  #greetingRowRightHeader {
    font-size: 2em;
    letter-spacing: 1px;
    line-height: 40px;
    color: maroon;
    font-family: "Google Sans Display", Arial, Helvetica, sans-serif;
  }

  #greetingRowRightP {
    font-size: 1.2em;
    letter-spacing: 1.5px;
    line-height: 30px;
    font-family: "Google Sans Display", Arial, Helvetica, sans-serif;
  }

  #greetingRowRightBtnContainer {
    margin-top: 70px;
    display: flex;
  }
  #iPhoneContainer {
    display: flex;
    justify-content: flex-end;
  }
  #homeiPhone {
    margin-top: -90px;
    background: url("../src/images/iphone.jpg") no-repeat;
    background-size: contain;
    height: 200px;
    width: 100px;
  }

  .modal-dialog {
    margin-top: 100px;
  }
}

/* mobile sideways */
@media only screen and (min-width: 550px) and (max-width: 766px) {
  html {
    scroll-behavior: smooth;
  }

  .alert-heading {
    font-size: 1.3em;
  }
  #greetingRowRightPContainer {
    margin-right: 200px;
  }

  #iPhoneContainer {
    height: 0px;
  }
  #homeiPhone {
    position: relative;
    top: -250px;
    left: -10%;
    background: url("../src/images/iphone.jpg") no-repeat;
    background-size: contain;
    height: 200px;
    width: 100px;
  }
}

/* stupid iphone 5 */
@media only screen and (max-width: 361px) {
  html {
    scroll-behavior: smooth;
  }
  #homeiPhone {
    position: relative;
    left: 10px;
    background: url("../src/images/iphone.jpg") no-repeat;
    background-size: contain;
    height: 200px;
    width: 100px;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
