#HomeHero {
  background-size: cover;
  background-repeat: no-repeat;
}

/* desktop */
@media only screen and (min-device-width: 1025px) and (-webkit-min-device-pixel-ratio: 1) {
  #HomeHero {
    height: 900px;
    background-position: 100%;
    background-position-y: 46%;
  }
}

/* ipad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  #HomeHero {
    height: 700px;
  }
}
/* ipad pro */
@media only screen and (min-device-width: 800px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  #HomeHero {
    height: 800px;
  }
}

/* mobile */
@media only screen and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 1) {
  #HomeHero {
    height: 550px;
    background-position: 40%;
  }
}
